Repository twu/skjold: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, skjold

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: poetry run mypy src tests
  pass_filenames: false

skjold:
  name: 'skjold: Auditing dependencies for known vulnerabilities.'
  entry: skjold audit
  language: python
  language_version: python3

Add usage examples.
  README.md
Due: none

Support ignoring findings using `.skjoldignore` files. (#47)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  .skjoldignore
  README.md
  pyproject.toml
  src/skjold/cli.py
  src/skjold/ignore.py
  src/skjold/tasks.py
  tests/fixtures/formats/ignore/all
  tests/fixtures/formats/ignore/example
  tests/test_cli.py
  tests/test_ignore.py
Due: mypy

Update README.md.
  README.md
Due: none

Add support for OSV/PyPA sources and `.skjoldignore` files. (#48)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  .skjoldignore
  README.md
  mypy.ini
  poetry.lock
  pyproject.toml
  src/skjold/cli.py
  src/skjold/ignore.py
  src/skjold/models.py
  src/skjold/sources/__init__.py
  src/skjold/sources/gemnasium.py
  src/skjold/sources/osv.py
  src/skjold/sources/pypa.py
  src/skjold/tasks.py
  tests/conftest.py
  tests/fixtures/formats/ignore/all
  tests/fixtures/formats/ignore/example
  tests/fixtures/osv/PYSEC-2021-54.yaml
  tests/fixtures/osv/introduced-and-fixed.yaml
  tests/fixtures/osv/introduced-and-versions.yaml
  tests/fixtures/osv/introduced-only.yaml
  tests/test_cli.py
  tests/test_cvss.py
  tests/test_formats.py
  tests/test_gemnasium.py
  tests/test_github.py
  tests/test_ignore.py
  tests/test_osv.py
  tests/test_pypa.py
  tests/test_pyup.py
  tests/test_sources.py
Due: mypy, skjold

Bump version.
  poetry.lock
  pyproject.toml
  src/skjold/cli.py
Due: mypy, skjold

Bump minimal 'click' version to 8.x in 'pyproject.toml'.
  poetry.lock
  pyproject.toml
Due: skjold

Bump version.
  pyproject.toml
  src/skjold/cli.py
Due: mypy

Remove 'verbose'-flag from '.pre-commit-hooks.yaml'.
  .pre-commit-hooks.yaml
Due: none

Add 'PYSEC-2021-108' to 'all' ignore fixture.
  tests/fixtures/formats/ignore/all
  tests/test_cli.py
Due: mypy

Update README.md
  README.md
Due: none

Add 'FUNDING.yml'.
  .github/FUNDING.yml
Due: none

Remove 'FUNDING.yml'.
  .github/FUNDING.yml
Due: none

Migrate 'packaging' instead of 'poetry-semver'.
  poetry.lock
  pyproject.toml
  src/skjold/sources/gemnasium.py
  src/skjold/sources/github.py
  src/skjold/sources/osv.py
  src/skjold/sources/pyup.py
  tests/test_gemnasium.py
  tests/test_github.py
  tests/test_osv.py
  tests/test_pyup.py
Due: mypy, skjold

Raise 'click.UsageError' on missing github token.
  src/skjold/sources/github.py
  tests/test_github.py
Due: mypy

fixed imports that might have caused errors when sending request to Github API
  src/skjold/sources/github.py
Due: mypy

Use `packaging` for parsing versions instead of `poetry-semver`. (#58)
  poetry.lock
  pyproject.toml
  src/skjold/sources/gemnasium.py
  src/skjold/sources/github.py
  src/skjold/sources/osv.py
  src/skjold/sources/pyup.py
  tests/test_gemnasium.py
  tests/test_github.py
  tests/test_osv.py
  tests/test_pyup.py
Due: mypy, skjold

Update dependencies.
  poetry.lock
  pyproject.toml
Due: skjold

Bump version.
  src/skjold/cli.py
Due: mypy

Show correct environment variable name in usage
  src/skjold/sources/github.py
Due: mypy

Show correct environment variable name if Github API Token is not defined (#62)
  src/skjold/sources/github.py
Due: mypy

Properly handle 'github' fixed version specifiers. Fixes #61.
  src/skjold/sources/github.py
  tests/test_github.py
Due: mypy

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

Fix tests.
  tests/test_osv.py
Due: mypy

Fix tests.
  tests/test_pypa.py
Due: mypy

Switch to poetry-core
  pyproject.toml
Due: none

Switch to poetry-core. (#91)
  pyproject.toml
Due: none

Bump pre-commit hooks to latest version.
  .pre-commit-config.yaml
Due: none

Bump mypy from 0.910 to 0.930.
  poetry.lock
  pyproject.toml
Due: skjold

Handle withdrawn CVEs for gemnasium. Fixes #90.
  src/skjold/sources/gemnasium.py
Due: mypy

Support OSV 1.3 schema which allows for querying OSV/PyPA again.
  src/skjold/sources/osv.py
  src/skjold/sources/pypa.py
  tests/fixtures/formats/ignore/all
  tests/fixtures/formats/ignore/example
  tests/fixtures/osv/PYSEC-2021-54.yaml
  tests/fixtures/osv/PYSEC-2021-59.yaml
  tests/fixtures/osv/introduced-and-fixed.yaml
  tests/fixtures/osv/introduced-and-versions.yaml
  tests/fixtures/osv/introduced-only.yaml
  tests/test_cli.py
  tests/test_osv.py
  tests/test_pypa.py
Due: mypy

Update dependencies. Resolves #117.
  poetry.lock
  pyproject.toml
Due: skjold

Update actions.
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: none

Remove 3.6 from python-version matrix.
  .github/workflows/test.yml
Due: none

Path conditions:
  mypy: any of: \.py$
  skjold: any of: ^(poetry\.lock|Pipfile\.lock|requirements.*\.txt)$
