Repository twu/skjold: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, skjold

.pre-commit-config.yaml:

fail_fast: true
default_language_version:
    python: python3.8
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: mixed-line-ending
    -   id: trailing-whitespace
    -   id: check-merge-conflict
    -   id: check-ast
    -   id: check-yaml
    -   id: check-json
    -   id: check-toml
    -   id: check-added-large-files
    -   id: check-byte-order-marker
-   repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
    -   id: black
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.34.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: poetry run mypy src tests
        types: [python]
        pass_filenames: false
    -   id: skjold
        name: "skjold: Auditing dependencies for known vulnerabilities."
        entry: skjold audit
        language: python
        language_version: python3
        files: ^(poetry\.lock|Pipfile\.lock|requirements.*\.txt)$
        verbose: true

Enable Python 3.10 in workflows. Resolves #78.
  .github/workflows/test.yml
Due: none

Fix YAML.
  .github/workflows/test.yml
Due: none

Use canonical names when building indices or reading from files.
  src/skjold/cli.py
  src/skjold/core.py
  src/skjold/formats.py
  src/skjold/ignore.py
  src/skjold/sources/gemnasium.py
  src/skjold/sources/github.py
  src/skjold/sources/osv.py
  src/skjold/sources/pypa.py
  src/skjold/sources/pyup.py
  src/skjold/tasks.py
  tests/test_formats.py
  tests/test_gemnasium.py
  tests/test_osv.py
  tests/test_pypa.py
  tests/test_pyup.py
  tests/test_sources.py
Due: mypy

Update README.md.
  README.md
Due: none

Support passing and auditing multiple input files.
  .pre-commit-hooks.yaml
  src/skjold/cli.py
  src/skjold/formats.py
  src/skjold/tasks.py
  tests/test_cli.py
  tests/test_formats.py
Due: mypy

Add isort hook.
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Reformat code using 'black'.
  src/skjold/cvss.py
Due: mypy

Reorder imports using 'isort'.
  src/skjold/cli.py
  src/skjold/core.py
  src/skjold/formats.py
  src/skjold/ignore.py
  src/skjold/sources/__init__.py
  src/skjold/sources/gemnasium.py
  src/skjold/sources/github.py
  src/skjold/sources/osv.py
  src/skjold/sources/pypa.py
  src/skjold/sources/pyup.py
  src/skjold/tasks.py
  tests/test_cvss.py
  tests/test_formats.py
  tests/test_gemnasium.py
  tests/test_github.py
  tests/test_osv.py
  tests/test_pyup.py
  tests/test_sources.py
Due: mypy

Bump version.
  pyproject.toml
  src/skjold/cli.py
Due: mypy

Improve naming.
  src/skjold/formats.py
Due: mypy

Enable workflow dispatch for test action.
  .github/workflows/test.yml
Due: none

Fix issue with OSV API returning aliases.
  tests/test_osv.py
Due: mypy

Bump pre-commit default language version.
  .pre-commit-config.yaml
Due: none

Fix github test workflow.
  .github/workflows/test.yml
Due: none

Use 'more_info_path' to create correct pyup.io URLs
  src/skjold/sources/pyup.py
  tests/test_pyup.py
Due: mypy

Update README.md
  README.md
Due: none

Use 'cve' field as 'pyup' identifier.
  src/skjold/sources/pyup.py
  tests/test_pyup.py
Due: mypy

Use 'cve' field as 'pyup' identifier. (#149)
  src/skjold/sources/pyup.py
  tests/test_pyup.py
Due: mypy

Revert "Bump packaging from 21.3 to 22.0 (#158)"
  poetry.lock
  pyproject.toml
Due: skjold

Revert "Bump packaging from 21.3 to 22.0" (#161)
  poetry.lock
  pyproject.toml
Due: skjold

Support 'packaging' '>=21,<23.0'.
  poetry.lock
  pyproject.toml
  src/skjold/sources/gemnasium.py
  src/skjold/sources/github.py
  src/skjold/sources/osv.py
  src/skjold/sources/pyup.py
  tests/test_gemnasium.py
Due: mypy, skjold

Remove duplicate error/warning when sources are passed via CLI instead.
  src/skjold/cli.py
  src/skjold/tasks.py
Due: mypy

Remove duplicate error/warning when sources are passed via CLI instead. (#163)
  src/skjold/cli.py
  src/skjold/tasks.py
Due: mypy

Support 'packaging' '>=21,<23.0'. (#162)
  poetry.lock
  pyproject.toml
  src/skjold/sources/gemnasium.py
  src/skjold/sources/github.py
  src/skjold/sources/osv.py
  src/skjold/sources/pyup.py
  tests/test_gemnasium.py
Due: mypy, skjold

Fix timestamps for 'ignore' testcase
  tests/fixtures/formats/ignore/example
Due: none

Fix tests.
  tests/test_pyup.py
Due: mypy

Update pre-commit-hooks.
  .pre-commit-config.yaml
Due: none

Fix tests.
  tests/fixtures/formats/ignore/all
  tests/test_cli.py
Due: mypy

Update gemnasium.py
  src/skjold/sources/gemnasium.py
Due: mypy

formatting
  src/skjold/sources/gemnasium.py
Due: mypy

Fix Gemnasium ranges with spaces. Remove outdated hotfix (#236)
  src/skjold/sources/gemnasium.py
Due: mypy

Fix tests.
  src/skjold/sources/gemnasium.py
  tests/fixtures/formats/ignore/all
  tests/test_cli.py
  tests/test_gemnasium.py
  tests/test_pyup.py
Due: mypy
