Repository twu/skjold: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, skjold

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: poetry run mypy src tests
  pass_filenames: false

skjold:
  name: 'skjold: Auditing dependencies for known vulnerabilities.'
  entry: skjold audit
  language: python
  language_version: python3

Update README.md
  README.md
Due: none

Fix Gemnasium provider failing when affected_versions string is empty
  src/skjold/sources/gemnasium.py
  tests/fixtures/gemnasium/CVE-2020-28476.yml
  tests/test_gemnasium.py
Due: mypy

Gemnasium: Assume all versions are affected if 'affected_versions' string is empty. (#30)
  src/skjold/sources/gemnasium.py
  tests/fixtures/gemnasium/CVE-2020-28476.yml
  tests/test_gemnasium.py
Due: mypy

Bump version.
  pyproject.toml
  src/skjold/cli.py
Due: mypy

Add pyupgrade hook.
  .pre-commit-config.yaml
Due: none

Update pre-commit-hooks.
  .pre-commit-config.yaml
Due: none

Remove 'fix-encoding-pragma' since Python 3.x defaults to 'utf-8'.
  .pre-commit-config.yaml
Due: none

Remove unnecessary 'utf-8' encoding pragmas.
  src/skjold/cli.py
  src/skjold/cvss.py
  src/skjold/formats.py
  src/skjold/models.py
  src/skjold/sources/__init__.py
  src/skjold/sources/gemnasium.py
  src/skjold/sources/github.py
  src/skjold/sources/pyup.py
  src/skjold/tasks.py
Due: mypy

Apply 'pyupgrade --py36-plus'.
  src/skjold/sources/github.py
  src/skjold/tasks.py
Due: mypy

Update mypy and switch to 'pyproject.toml'-based setup.
  mypy.ini
  poetry.lock
  pyproject.toml
Due: skjold

Add references to 'cli' output if present.
  src/skjold/tasks.py
Due: mypy

Add support for OSV using either 'osv' (API) or 'pypa' (repository) as a source.
  .github/workflows/test.yml
  README.md
  pyproject.toml
  src/skjold/models.py
  src/skjold/sources/__init__.py
  src/skjold/sources/gemnasium.py
  src/skjold/sources/osv.py
  src/skjold/sources/pypa.py
  src/skjold/tasks.py
  tests/conftest.py
  tests/fixtures/osv/PYSEC-2021-54.yaml
  tests/fixtures/osv/introduced-and-fixed.yaml
  tests/fixtures/osv/introduced-and-versions.yaml
  tests/fixtures/osv/introduced-only.yaml
  tests/test_cli.py
  tests/test_cvss.py
  tests/test_formats.py
  tests/test_gemnasium.py
  tests/test_github.py
  tests/test_osv.py
  tests/test_pypa.py
  tests/test_pyup.py
  tests/test_sources.py
Due: mypy

Update README.md.
  README.md
Due: none

Update pypi classifiers.
  pyproject.toml
Due: none

Update tests.
  tests/test_osv.py
Due: mypy

Initial support for OSV API/PyPA Advisory database. (#46)
  .github/workflows/test.yml
  README.md
  mypy.ini
  poetry.lock
  pyproject.toml
  src/skjold/models.py
  src/skjold/sources/__init__.py
  src/skjold/sources/gemnasium.py
  src/skjold/sources/osv.py
  src/skjold/sources/pypa.py
  src/skjold/tasks.py
  tests/conftest.py
  tests/fixtures/osv/PYSEC-2021-54.yaml
  tests/fixtures/osv/introduced-and-fixed.yaml
  tests/fixtures/osv/introduced-and-versions.yaml
  tests/fixtures/osv/introduced-only.yaml
  tests/test_cli.py
  tests/test_cvss.py
  tests/test_formats.py
  tests/test_gemnasium.py
  tests/test_github.py
  tests/test_osv.py
  tests/test_pypa.py
  tests/test_pyup.py
  tests/test_sources.py
Due: mypy, skjold

Initial support for '.skjoldignore' files.
  .skjoldignore
  src/skjold/cli.py
  src/skjold/ignore.py
  src/skjold/tasks.py
  tests/fixtures/formats/ignore/example
  tests/test_ignore.py
Due: mypy

Add dummy entry to .skjoldignore.
  .skjoldignore
Due: none

Add 'ignore' command.
  src/skjold/cli.py
  src/skjold/ignore.py
  tests/fixtures/formats/ignore/example
  tests/test_ignore.py
Due: mypy

Add warning about enabling 'report_only' in combination with using pre-commit.
  README.md
Due: none

Always use 'verbose: true' with pre-commit hook by default.
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  README.md
Due: none

Add 'verbose: true' to README.md.
  README.md
Due: none

Enable 'always_run' for '.pre-commit-hooks.yaml'.
  .pre-commit-hooks.yaml
Due: none

Ensure findings/vulnerable packages are always printed to 'stderr'.
  src/skjold/cli.py
  src/skjold/tasks.py
Due: mypy

Update pyproject.toml.
  pyproject.toml
Due: none

Disable 'always_run' for '.pre-commit-hooks.yaml'.
  .pre-commit-hooks.yaml
Due: none

Allow setting ignore file via env/cli.
  .github/workflows/test.yml
  src/skjold/cli.py
  src/skjold/tasks.py
  tests/fixtures/formats/ignore/all
  tests/test_cli.py
Due: mypy

Add usage examples.
  README.md
Due: none

Path conditions:
  mypy: any of: \.py$
  skjold: any of: ^(poetry\.lock|Pipfile\.lock|requirements.*\.txt)$
