Repository twu/skjold: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, skjold

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: poetry run mypy src tests
  pass_filenames: false

skjold:
  name: 'skjold: Auditing dependencies for known vulnerabilities.'
  entry: skjold audit
  language: python
  language_version: python3

Fix tests.
  tests/test_pyup.py
Due: mypy

Update dependencies.
  poetry.lock
  pyproject.toml
Due: skjold

Update to pytest 6.x.
  poetry.lock
  pyproject.toml
  pytest.ini
Due: skjold

Update README.md. Fixes #7.
  README.md
Due: none

Set pre-commit default python to 3.8.
  .pre-commit-config.yaml
Due: none

Handle PyUp '$meta' while reading from source.
  src/skjold/sources/pyup.py
  tests/test_pyup.py
Due: mypy

Update pre-commit hooks.
  .pre-commit-config.yaml
Due: none

Update dependencies.
  poetry.lock
Due: skjold

Update github actions to v2.
  .github/workflows/test.yml
Due: none

Start testing against 3.9.
  .github/workflows/test.yml
Due: none

Update PyPI classifiers.
  pyproject.toml
Due: none

Bump version.
  pyproject.toml
  src/skjold/cli.py
Due: mypy

Upload coverage report to code-climate.
  .github/workflows/test.yml
Due: none

Fix coverage step.
  .github/workflows/test.yml
Due: none

Upload coverage report to code-climate. (#10)
  .github/workflows/test.yml
Due: none

Add Code Climate badges to README.md.
  README.md
Due: none

Update README.md
  README.md
Due: none

Use Python 3.9.
  .github/workflows/test.yml
Due: none

Update README.md.
  README.md
Due: none

Update test.yml
  .github/workflows/test.yml
Due: none

Create dependabot.yml
  .github/dependabot.yml
Due: none

Add py.typed marker file (PEP 561)
  src/skjold/py.typed
Due: none

Remove asserts from codebase.
  src/skjold/formats.py
Due: mypy

Switch from requests to urllib.request.
  src/skjold/sources/gemnasium.py
  src/skjold/sources/github.py
  src/skjold/sources/pyup.py
Due: mypy

Update .gitignore.
  .gitignore
Due: none

Fix whitespace.
  .github/workflows/test.yml
Due: none

Rework CLI. Fix issue with settings/options precedence.
  src/skjold/cli.py
  src/skjold/formats.py
  src/skjold/models.py
  src/skjold/tasks.py
  tests/conftest.py
  tests/fixtures/formats/pip/requirements_with_hashes.txt
  tests/test_cli.py
  tests/test_formats.py
  tests/test_github.py
  tests/test_pyup.py
  tests/test_sources.py
Due: mypy

Update pyproject.toml.
  pyproject.toml
Due: none

Fix CLI issue with settings/options precedence. (#20)
  .github/workflows/test.yml
  .gitignore
  poetry.lock
  pyproject.toml
  src/skjold/cli.py
  src/skjold/formats.py
  src/skjold/models.py
  src/skjold/sources/gemnasium.py
  src/skjold/sources/github.py
  src/skjold/sources/pyup.py
  src/skjold/tasks.py
  tests/conftest.py
  tests/fixtures/formats/pip/requirements_with_hashes.txt
  tests/test_cli.py
  tests/test_formats.py
  tests/test_github.py
  tests/test_pyup.py
  tests/test_sources.py
Due: mypy, skjold

Path conditions:
  mypy: any of: \.py$
  skjold: any of: ^(poetry\.lock|Pipfile\.lock|requirements.*\.txt)$
